<footer class="footer">
  <figure class="footer_logo">
    <img src="/img/logo.png" alt="" />
  </figure>

  <section class="social_media">
    <figure class="linkedin">
      <a href="#">
        <img src="/img/linkedin.png" alt="" />
      </a>
    </figure>

    <figure class="github">
      <a href="#">
        <img src="/img/github.png" alt="" />
      </a>
    </figure>

    <figure class="instagram">
      <a href="#">
        <img src="/img/instagram.png" alt="" />
      </a>
    </figure>

    <figure class="whatsapp">
      <a href="#">
        <img src="/img/whatsapp.png" alt="" />
      </a>
    </figure>
  </section>

  <section class="contact">
    <h5 class="contact_title">Reach me out!</h5>
    <p class="contact_text">brunogarcia84@gmail.com</p>
  </section>

  <section class="contact_form">
    <form action="#" method="POST">
      <label for="name"></label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="What's your name?"
      />

      <label for="email"></label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="What's your email address?"
      />

      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        placeholder="Type your message..."
      ></textarea>

      <button type="submit">Submit</button>
    </form>
  </section>

  <span class="copyright">Copyright 2022 - Bruno Garcia</span>
</footer>
