<header class="header">
  <h3 class="header__logo"><a href="index.html">Bruno Garcia</a></h3>

  <i><img src="./img/bar_menu.png" alt="" /></i>
  <nav class="header__nav">
    <ul class="nav__list">
      <li class="list__item"><a href="#">Home</a></li>
      <li class="list__item"><a href="#">About</a></li>
      <li class="list__item"><a href="#">Services</a></li>
      <li class="list__item"><a href="#">Blog</a></li>
      <li class="list__item"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
