<header class="header">
  <figure class="logo">
    <img src="/img/logo.png" alt="" />
  </figure>

  <i><img src="./img/bar_menu.png" alt="" /></i>

  <nav class="header_nav">
    <ul class="nav_list">
      <li class="list_item"><a href="#biography">Biography</a></li>
      <li class="list_item"><a href="#projects">Projects</a></li>
      <li class="list_item"><a href="#skills">Skills</a></li>
      <li class="list_item"><a href="#hobbies">Hobbies</a></li>
      <li class="list_item"><a href="#education">Education</a></li>
    </ul>
  </nav>

  <a href="#">Download my CV</a>
</header>
