<main class="content">
  <div class="container">
    <section id="biography">
      <figure class="article_illustration">
        <img src="./img/profile.jpg" alt="Bruno Garcia portfolio photo" />
      </figure>

      <article class="article">
        <h2 class="article_title">Who I am</h2>
        <p class="article_text">
          Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu
          reclamis.Delegadis gente finis, bibendum egestas augue arcu ut est.Mé
          faiz elementum girarzis, nisi eros vermeio.Não sou faixa preta
          cumpadi, sou preto inteiris, inteiris.
        </p>
      </article>

      <a class="section_link" href="#">See more...</a>
    </section>

    <section id="projects">
      <h2 class="section_title">Projects</h2>
      <article class="article">
        <h4 class="article_title">Unes University</h4>
        <p class="article_text">A simple HTML University page</p>
        <a href="#" class="section_link">Live Demo</a>
      </article>

      <article class="article">
        <h4 class="article_title">DH News</h4>
        <p class="article_text">
          Project for the Full-Stack HTML and CSS course
        </p>
        <a href="#" class="section_link">Live Demo</a>
      </article>

      <article class="article">
        <h4 class="article_title">Lovt Hotel</h4>
        <p class="article_text">HTML and CSS Hotel Page</p>
        <a href="#" class="section_link">Live Demo</a>
      </article>

      <article class="article">
        <h4 class="article_title">Project 4</h4>
        <p class="article_text">Another project to show</p>
        <a href="#" class="section_link">Live Demo</a>
      </article>
    </section>

    <section id="skills">
      <h2 class="section_title">Skills</h2>

      <article class="article">
        <h5 class="article_title">Front-End</h5>

        <figure class="article_illustration">
          <img src="/img/html-5.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>

        <figure class="article_illustration">
          <img src="/img/css-3.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>

        <figure class="article_illustration">
          <img src="/img/bootstrap.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>

        <figure class="article_illustration">
          <img src="/img/react.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>

        <figure class="article_illustration">
          <img src="/img/js.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>
      </article>

      <article class="article">
        <h5 class="article_title">Back-End</h5>

        <figure class="article_illustration">
          <img src="/img/nodejs.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>

        <figure class="article_illustration">
          <img src="/img/mysql.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>

        <figure class="article_illustration">
          <img src="/img/expressjs.png" alt="" />
          <p>Counter - Learn how to do...</p>
        </figure>
      </article>
    </section>

    <section id="hobbies">
      <h2 class="section_title">Hobbies</h2>

      <article class="article">
        <figure class="article_illustration">
          <img src="/img/airplane.png" alt="" />
        </figure>

        <p class="article_text">
          Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu
          reclamis.Delegadis gente finis, bibendum egestas augue arcu ut est.Mé
          faiz elementum girarzis, nisi eros vermeio.Não sou faixa preta
          cumpadi, sou preto inteiris, inteiris.
        </p>

        <figure class="article_illustration">
          <img src="/img/guitar.png" alt="" />
        </figure>

        <p class="article_text">
          Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu
          reclamis.Delegadis gente finis, bibendum egestas augue arcu ut est.Mé
          faiz elementum girarzis, nisi eros vermeio.Não sou faixa preta
          cumpadi, sou preto inteiris, inteiris.
        </p>
      </article>
    </section>

    <section id="education">
      <h2 class="section_title">Education</h2>

      <article class="article">
        <h5 class="article_title">Brazil-United States Cultural Center</h5>
        <p class="article_text">English C1 Proficiency Graduation</p>
        <h5 class="article_year">2003</h5>
      </article>

      <article class="article">
        <h5 class="article_title">Anhembi-Morumbi University</h5>
        <p class="article_text">Law Bachelors Degree</p>
        <h5 class="article_year">2014</h5>
      </article>

      <article class="article">
        <h5 class="article_title">T.I.E. Certification in English Language</h5>
        <p class="article_text">English C1 Proficiency Certification</p>
        <h5 class="article_year">2018</h5>
      </article>

      <article class="article">
        <h5 class="article_title">TEFL Certification in English Language</h5>
        <p class="article_text">
          English Teaching Skills Proficiency Certification
        </p>
        <h5 class="article_year">2018</h5>
      </article>

      <article class="article">
        <h5 class="article_title">Cambridge TKT</h5>
        <p class="article_text">
          English Teaching Skills Proficiency Certification
        </p>
        <h5 class="article_year">2021</h5>
      </article>
    </section>
  </div>
</main>
