@import url(./reset.css);
@import url(./variables.css);
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@200;400;600;700&display=swap");

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font_title);
  font-weight: var(--font_title--regular);
}

h1 {
  font-size: var(--size_xxl);
}

h2 {
  font-size: var(--size_xl);
}

h3 {
  font-size: var(--size_lg);
}

h4 {
  font-size: var(--size_md);
}

h5 {
  font-size: var(--size_sm);
}

h6 {
  font-size: var(--size_xs);
}

a,
span,
p {
  font-family: var(--font_text);
  font-weight: var(--font_text--extraLight);
}

section {
  border-bottom: 1px inset var(--bg_secondary);
}

.header {
  background-color: var(--bg_secondary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--size_lg);
}

.header__nav {
  display: none;
}

.header__logo > a {
  color: var(--bg_fg_highlight);
  font-weight: var(--black);
}

.nav__list {
  display: flex;
}

.list__item > a {
  color: var(--fg_primary);
  padding: var(--size_lg);
}

.container {
  margin: 0 auto;
}

.hero {
  padding: var(--size_md);
}

.block {
  padding: var(--size_md);
}

.name {
  text-align: center;
}

.name > h1 {
  font-size: var(--size_lg);
  padding: var(--size_md);
}

.name > h4 {
  color: var(--fg_secondary);
  padding: var(--size_sm);
  margin-bottom: var(--size_md);
}

.name > a {
  display: inline-block;
  background-color: var(--bg_fg_highlight);
  color: var(--fg_primary);
  font-weight: var(--font_text--bold);
  padding: var(--size_md);
  border-radius: var(--size_md);
  transition: ease-in-out 0.5s;
}

.name > a:hover {
  background-color: var(--fg_primary);
  color: var(--bg_fg_highlight);
  font-weight: var(--font_text--regular);
}

.name__detail {
  color: var(--bg_fg_highlight);
}

.photo {
  display: none;
}

.about__me__title,
.services__title,
.blog__title,
.contact__title {
  color: var(--bg_fg_highlight);
  font-size: var(--size_lg);
  text-align: center;
  margin: var(--size_md);
}

.about__me__description,
.services__description {
  margin-bottom: var(--size_md);
}

.hire__cv > a {
  display: inline-block;
  padding: var(--size_sm);
}

.hire__cv > a:nth-child(1) {
  background-color: var(--bg_fg_highlight);
  color: var(--fg_primary);
  font-weight: var(--font_text--bold);
  border-radius: var(--size_md);
  margin: var(--size_lg);
  transition: ease-in-out 0.4s;
}

.hire__cv > a:nth-child(1):hover {
  background-color: var(--fg_primary);
  color: var(--bg_fg_highlight);
  border: 2px solid var(--bg_secondary--dark);
  font-weight: var(--font_text--regular);
}

.hire__cv > a:nth-child(2) {
  font-weight: var(--font_text--semiBold);
  background-color: var(--fg_primary);
  color: var(--bg_fg_highlight);
  border-radius: var(--size_md);
  transition: ease-in-out 0.4s;
}

.hire__cv > a:nth-child(2):hover {
  background-color: var(--bg_fg_highlight);
  color: var(--fg_primary);
  font-weight: var(--font_text--regular);
}

.services__description {
  color: var(--fg_primary);
}

.services__box__single,
.blog__box__single {
  border: 1px solid var(--fg_secondary);
  background-color: var(--bg_secondary--dark);
  color: var(--fg_primary);
  text-align: center;
  margin: var(--size_md);
  padding: var(--size_sm);
}

.services__box__single > h4 {
  color: var(--bg_fg_highlight);
}

.services__box__single > i,
h4,
p {
  padding: var(--size_md);
}

.blog__box {
  padding: var(--size_sm);
}

.blog__box__single {
  margin: var(--size_lg);
}

.blog__box__single > figure {
  display: none;
}

.blog__snippet > h2 {
  font-size: var(--size_md);
}

.blog__snippet > a {
  display: inline-block;
  padding: var(--size_sm);
  color: var(--bg_fg_highlight);
  transition: ease-in-out 0.4s;
}

.blog__snippet > a:hover {
  color: var(--fg_secondary);
}

.contact > form {
  margin: 0 auto;
  width: 80%;
  padding: var(--size_xl);
}

.form__fieldset {
  border: none;
}

.form__fieldset > label,
input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid (--fg_secondary);
  background-color: var(--bg_primary);
  color: var(--fg_primary);
  padding: var(--size_xs);
  margin: 0 auto;
}

.form__fieldset > textarea {
  margin-top: var(--size_lg);
}

.form__fieldset__item {
  color: var(--fg_primary);
}

.submit {
  margin: var(--size_md) 0;
  border: none;
  background-color: var(--bg_fg_highlight);
  transition: ease-in-out 0.4s;
}

.submit:hover {
  background-color: var(--fg_primary);
  color: var(--bg_fg_highlight);
  font-weight: var(--font_title--bold);
}

.social__media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.social__media__title {
  font-size: var(--size_lg);
  color: var(--bg_fg_highlight);
  text-align: center;
  padding: var(--size_md);
}

.social__media__flexBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--size_md);
}

.social__media__flexBlock > i {
  margin-right: var(--size_sm);
}

footer {
  padding: var(--size_lg);
  text-align: center;
}

@media screen and (min-width: 780px) {
  .header {
    justify-content: space-between;
  }

  .header > i {
    display: none;
  }

  .nav__list {
    padding: var(--size_xs);
  }

  .header__nav {
    display: flex;
    padding: var(--size_sm);
  }

  .header__logo a {
    font-size: var(--size_sm);
  }

  .hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--size_xxl);
  }

  .photo {
    display: block;
  }

  .photo > img {
    border-radius: var(--size_xxl);
  }

  .hire__cv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .services__box {
    display: flex;
  }

  .blog__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .blog__box__single {
    max-width: 300px;
  }

  .contact {
    display: flex;
  }

  .social__media__flexBlock > i {
    margin-right: 2.5px;
  }
}

@media screen and (min-width: 1023px) {
  .header__logo a {
    font-size: var(--size_xl);
  }

  .name > h1 {
    font-size: var(--size_xxl);
  }

  .name > h4 {
    font-size: var(--size_lg);
  }

  .blog__box__single {
    max-width: 500px;
  }

  .form__fieldset__item {
    padding: var(--size_md);
  }

  .social__media__flexBlock {
    margin: var(--size_xl);
  }
}
