:root {
  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: rgb(30, 190, 214);
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: white;
  --secondaryTextColor: steelblue;
  --mainLinkColor: steelblue;
  --mainBorderColor: darkviolet;
  --mainBgColor: #4d5152;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBgColor-dark);
  font-family: "Arial";
  font-weight: 100;
  line-height: 1.5em;
  font-size: 22px;
  color: var(--mainTextColor-dark);
  overflow-x: hidden;
}

p,
span,
li {
  color: var(--secondaryTextColor-dark);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor-dark);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Garamond", sans-serif;
}

li {
  line-height: 1.9em;
  list-style: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.sectionPage {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapperHero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#profilePic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#bio {
  font-weight: 100;
  font-size: 16px;
}

#userName {
  color: var(--mainTextColor-dark);
  font-size: 2.8em;
  line-height: 1em;
}

#email {
  color: var(--mainTextColor-dark);
  font-size: 0.9em;
}

#email img {
  margin-right: 15px;
}

#socialLinks {
  display: flex;
  justify-content: center;
  column-gap: 3em;
  flex-wrap: wrap;
}

#socialLinks a {
  font-size: 0.8em;
  color: var(--mainLinkColor-dark);
  transition: 0.5s;
}

#socialLinks a:hover {
  color: blueviolet;
  cursor: pointer;
}

#qualifications {
  font-size: 0.75em;
}

#wrapperTechstackItems {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.75em;
}

.cardTechstack {
  border: 1px solid var(--mainBorderColor-dark);
  border-radius: 10px;
  padding: 0.5em 1em;
  align-items: center;
}

.cardProject {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor-dark);
}

.cardProject a {
  color: var(--mainTextColor);

  transition: 0.3s;
}

.cardProject a:hover {
  color: rgb(30, 190, 214);
}

.cardWorkHistory {
  border-left: 1px solid var(--mainBorderColor-dark);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.cardWorkHistory strong {
  font-size: 0.9em;
}

.cardWorkHistory p {
  font-size: 0.7em;
}

.cardWorkHistory li {
  font-size: 0.75em;
}

.lineBreak {
  background-color: var(--mainBorderColor-dark);
  height: 1px;
}

@media (max-width: 600px) {
  .sectionPage {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapperHero {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #profilePic {
    width: 200px;
    height: 200px;
  }

  #wrapperHero {
    flex-direction: column;
  }

  .cardWorkHistory {
    border-left: none;
    padding-left: 0;
  }
}
